.editor-pane {
    border: dashed red 1px;
}

.CodeMirror {
    height: 600px !important;
    width: 100%;
    border: 1px solid #cccccc;
    margin:10px 0;
    border-radius:3px;
}

#code-editor {
    margin-top: 10px;
}

#commit-edit {
    margin-top: 5px;
    float: right;
}